* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --svg-colors: #CCCCCC;
    /* Customs */
    --custom-dark: #303F4E;

    /* Customs */
    --box-shadow-cards: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
/*--------------------------------------------------------------
# Customizations
--------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

::-webkit-scrollbar {
    width: 6px;
}


::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}

::placeholder {
    color: #b1b1b1 !important;
}

.custom_dark {
    color: var(--custom-dark);
}

.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}

.custom_focus:focus {
    box-shadow: var(--input-focus);
    border-color: var(--custom-primary);
}

.outline_none {
    text-decoration: none;
}

input[type="checkbox"]:focus {
    box-shadow: var(--input-focus);
}

.dropdown-menu .dropdown-item:focus, 
.dropdown-menu .dropdown-item:active {
    background-color: transparent;
    color: inherit;
    outline: none;
    box-shadow: none;
}

.custom_placeholder::placeholder {
    color: #b1b1b1 !important;
    font-size: 14px;
}

.cursor_pointer {
    cursor: pointer;
}

.cursor_wait {
    cursor: wait;
}

.card_shadow{
    box-shadow: var(--box-shadow-cards);
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}

.fs-9 {
    font-size: 0.7rem;
}

.fs-10 {
    font-size: 0.6rem;
}

.invalid_field {
    border: 1px solid var(--custom-danger);
}

.hover_primary:hover {
    color: var(--custom-primary) !important;
}

.item_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_show_password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.loader {
    width: 24px;
    padding: 6px;
    aspect-ratio: 1;
    border-radius: 50%;
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 0.8s infinite linear;
    background-color: #fff;
}

.loader.sm {
    width: 21px !important;
    padding: 5px !important;
}

.loader.lg {
    width: 55px !important;
    padding: 9px !important;
}

@keyframes l3 {
    to {
        transform: rotate(1turn);
    }
}

/*--------------------------------------------------------------
# Public Navigation
--------------------------------------------------------------*/
.public_nav .navbar-toggler:focus {
    box-shadow: none;
}

.public_nav {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .15) !important;
}

.public_nav .logo_image {
    max-width: 200px;
    max-height: 100px;
}

.public_nav .logo_image img {
    max-width: 200px;
    max-height: 100px;
    object-fit: contain;
}

.public_nav .logged_small {
    display: none;
}

.public_nav .logged_large {
    display: flex;
}

.public_nav .dropdown-menu {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    border: 0 !important;
}

.public_nav .dropdown-item:hover {
    background-color: #e7e7e7a9;
    color: var(--custom-primary) !important;
}

@media screen and (max-width: 992px) {
    .public_nav .logged_small {
        display: flex;
    }

    .public_nav .logged_large {
        display: none;
    }

    .public_nav .logo_image {
        max-width: 180px;
        max-height: 180px;
    }
}

.public_nav .fa-bars {
    font-size: 25px !important;
}

@media screen and (max-width: 576px) {
    .public_nav li {
        font-size: 18px;
    }
}

/*--------------------------------------------------------------
# Public Footer
--------------------------------------------------------------*/
.public_footer .logo_image img {
    width: 100%;
    max-width: 200px;
    max-height: 100px;
}

@media screen and (max-width: 390px) {
    .public_footer .logo_footer {
        min-width: 200px;
        width: 100%;
    }
}

.public_footer .navbar-nav .nav-link:hover {
    font-weight: 600;
    transition: 0.2s;
}

/*--------------------------------------------------------------
# Public Login
--------------------------------------------------------------*/
.publicLoginView {
    height: calc(100vh - 160px);
}

.publicLoginView .form_login {
    max-width: 400px;
}

.publicLoginView .website_logo img{
    max-width: 200px;
    max-height: 100px;
}

.publicLoginView .illustration {
    max-width: 500px;
}

/*--------------------------------------------------------------
# Component adminBar
--------------------------------------------------------------*/
@media screen and (max-width: 360px) {
    #adminBarComponent .publish p {
        display: none;
    }
}

/*--------------------------------------------------------------
# User Panel
--------------------------------------------------------------*/

.userPanelView .img_no_ads {
    width: 60%;
}

@media screen and (max-width: 768px){
    .userPanelView .img_no_ads {
        width: 90%;
    } 
}

.userPanelView .user_photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 8px solid #ffff;
    object-fit: cover; 
}

/*--------------------------------------------------------------
# User Profile
--------------------------------------------------------------*/
.profileView .img_no_ads {
    width: 60%;
}

.profileView i {
    width: 20px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .profileView .img_no_ads {
        width: 90%;
    } 
}

.changeAvatarComponent .user_photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 8px solid #ececec93;
    object-fit: cover; 
}

.changeAvatarComponent .btn_change_img {
    position: absolute;
    background-color: var(--custom-primary);
    color: #fff;
    border-radius: 50%;
    bottom: 20px;
    right: 0px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.changeAvatarComponent .btn_change_img:hover {
    background-color: var(--custom-primary-hover); 
}

.changeAvatarComponent .loadingImg {
    width: 146px;
    height: 146px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.344);
}

/*--------------------------------------------------------------
# Textarea component
--------------------------------------------------------------*/
.textareaComponent .char-counter {
    position: absolute;
    right: 5px;
    bottom: 3px;
}