* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --svg-colors: #CCCCCC;
    /* Customs */
    --custom-dark: #303F4E;

    /* Customs */
    --box-shadow-cards: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
/*--------------------------------------------------------------
# Customizations
--------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

::-webkit-scrollbar {
    width: 6px;
}


::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}

::placeholder {
    color: #b1b1b1 !important;
}

.custom_dark {
    color: var(--custom-dark);
}

.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}

.custom_focus:focus {
    box-shadow: var(--input-focus);
    border-color: var(--custom-primary);
}

.outline_none {
    text-decoration: none;
}

input[type="checkbox"]:focus {
    box-shadow: var(--input-focus);
}

.dropdown-menu .dropdown-item:focus, 
.dropdown-menu .dropdown-item:active {
    background-color: transparent;
    color: inherit;
    outline: none;
    box-shadow: none;
}

.custom_placeholder::placeholder {
    color: #b1b1b1 !important;
    font-size: 14px;
}

.cursor_pointer {
    cursor: pointer;
}

.cursor_wait {
    cursor: wait;
}

.card_shadow{
    box-shadow: var(--box-shadow-cards);
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}

.fs-9 {
    font-size: 0.7rem;
}

.fs-10 {
    font-size: 0.6rem;
}

.invalid_field {
    border: 1px solid var(--custom-danger);
}

.hover_primary:hover {
    color: var(--custom-primary) !important;
}

.item_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_show_password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.loader {
    width: 24px;
    padding: 6px;
    aspect-ratio: 1;
    border-radius: 50%;
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 0.8s infinite linear;
    background-color: #fff;
}

.loader.sm {
    width: 21px !important;
    padding: 5px !important;
}

.loader.lg {
    width: 55px !important;
    padding: 9px !important;
}

@keyframes l3 {
    to {
        transform: rotate(1turn);
    }
}

/*--------------------------------------------------------------
# Public Navigation
--------------------------------------------------------------*/
.public_nav .navbar-toggler:focus {
    box-shadow: none;
}

.public_nav {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .15) !important;
}

.public_nav .logo_image {
    max-width: 200px;
    max-height: 100px;
}

.public_nav .logo_image img {
    max-width: 200px;
    max-height: 100px;
    object-fit: contain;
}

.public_nav .logged_small {
    display: none;
}

.public_nav .logged_large {
    display: flex;
}

.public_nav .dropdown-menu {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    border: 0 !important;
}

.public_nav .dropdown-item:hover {
    background-color: #e7e7e7a9;
    color: var(--custom-primary) !important;
}

@media screen and (max-width: 992px) {
    .public_nav .logged_small {
        display: flex;
    }

    .public_nav .logged_large {
        display: none;
    }

    .public_nav .logo_image {
        max-width: 180px;
        max-height: 180px;
    }
}

.public_nav .fa-bars {
    font-size: 25px !important;
}

@media screen and (max-width: 576px) {
    .public_nav li {
        font-size: 18px;
    }
}

/*--------------------------------------------------------------
# Public Footer
--------------------------------------------------------------*/
.public_footer .logo_image img {
    width: 100%;
    max-width: 200px;
    max-height: 100px;
}

@media screen and (max-width: 390px) {
    .public_footer .logo_footer {
        min-width: 200px;
        width: 100%;
    }
}

.public_footer .navbar-nav .nav-link:hover {
    font-weight: 600;
    transition: 0.2s;
}

/*--------------------------------------------------------------
# Public Login
--------------------------------------------------------------*/
.publicLoginView {
    height: calc(100vh - 160px);
}

.publicLoginView .form_login {
    max-width: 400px;
}

.publicLoginView .website_logo img{
    max-width: 200px;
    max-height: 100px;
}

.publicLoginView .illustration {
    max-width: 500px;
}

/*--------------------------------------------------------------
# Register view
--------------------------------------------------------------*/
.registerView #formRegister {
    max-width: 400px;
}

.registerView .illustration {
    max-width: 500px;
}

/*--------------------------------------------------------------
# Component adminBar
--------------------------------------------------------------*/
@media screen and (max-width: 360px) {
    #adminBarComponent .publish p {
        display: none;
    }
}

/*--------------------------------------------------------------
# User Panel
--------------------------------------------------------------*/

.userPanelView .img_no_ads {
    width: 60%;
}

@media screen and (max-width: 768px){
    .userPanelView .img_no_ads {
        width: 90%;
    } 
}

.userPanelView .user_photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 8px solid #ffff;
    object-fit: cover; 
}

/*--------------------------------------------------------------
# User Profile
--------------------------------------------------------------*/
.profileView .img_no_ads {
    width: 60%;
}

.profileView i {
    width: 20px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .profileView .img_no_ads {
        width: 90%;
    } 
}

.profileView .illustration {
    max-width: 500px;
}

.changeAvatarComponent .user_photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 8px solid #ececec93;
    object-fit: cover; 
}

.changeAvatarComponent .btn_change_img {
    position: absolute;
    background-color: var(--custom-primary);
    color: #fff;
    border-radius: 50%;
    bottom: 20px;
    right: 0px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.changeAvatarComponent .btn_change_img:hover {
    background-color: var(--custom-primary-hover); 
}

.changeAvatarComponent .loadingImg {
    width: 146px;
    height: 146px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.344);
}

/*--------------------------------------------------------------
# Textarea component
--------------------------------------------------------------*/
.textareaComponent .char-counter {
    position: absolute;
    right: 5px;
    bottom: 3px;
}

/*--------------------------------------------------------------
# App layout ***
--------------------------------------------------------------*/

.app_layout .header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 5px;
}

.app_layout .header .logo {
    width: 180px;
    height: 50px;
}

@media (max-width: 576px) {
    .app_layout .header .logo {
        width: 150px;
    }
}

.app_layout .header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 364px) {
    .app_layout .header .logo {
        display: none;
    }
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.app_layout .header-nav ul {
    list-style: none;
}

.app_layout .header-nav>ul {
    margin: 0;
    padding: 0;
}

.app_layout .header-nav .visite-site {
    margin-right: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.app_layout .header-nav .nav-icon {
    font-size: 20px;
    margin-right: 25px;
    position: relative;
}

@media (max-width: 403px) {
    .app_layout .header-nav .visite-site span {
        display: none;
    }

    .app_layout .header-nav .nav-icon {
        margin-right: 20px;
    }
}

@media (max-width: 364px) {
    .app_layout .header-nav .visite-site span {
        display: block;
    }
}

.app_layout .header-nav .nav-profile img {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.app_layout .header-nav .dropdown-profile .dropdown-item:hover {
    background-color: #f6f9ff;
    color: var(--bs-primary) !important;
}

.app_layout .header-nav .badge-number {
    position: absolute;
    inset: -2px -5px auto auto;
    font-weight: normal;
    font-size: 11px;
    padding: 3px 6px;
}

.app_layout .header-nav .notifications {
    inset: 8px -15px auto auto !important;
}

.app_layout .header-nav .notifications .notification-item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    transition: 0.3s;
}

.app_layout .header-nav .notifications .notification-item i {
    margin: 0 20px 0 10px;
    font-size: 24px;
}

.app_layout .header-nav .notifications .notification-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.app_layout .header-nav .notifications .notification-item p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #919191;
}

.app_layout .header-nav .notifications .notification-item:hover {
    background-color: #f6f9ff;
}

.app_layout .header-nav .messages {
    inset: 8px -15px auto auto !important;
}

.app_layout .header-nav .messages .message-item {
    padding: 15px 10px;
    transition: 0.3s;
}

.app_layout .header-nav .messages .message-item a {
    display: flex;
}

.app_layout .header-nav .messages .message-item img {
    margin: 0 20px 0 10px;
    max-height: 40px;
}

.app_layout .header-nav .messages .message-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #444444;
}

.app_layout .header-nav .messages .message-item p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #919191;
}

.app_layout .header-nav .messages .message-item:hover {
    background-color: #f6f9ff;
}

.app_layout .header-nav .profile {
    min-width: 240px;
    padding-bottom: 0;
    top: 8px !important;
}

.app_layout .header-nav .profile .dropdown-header h6 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
    color: #444444;
}

.app_layout .header-nav .profile .dropdown-header span {
    font-size: 14px;
}

.app_layout .header-nav .profile .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}

.app_layout .header-nav .profile .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.app_layout .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
}

@media (max-width: 1199px) {
    .app_layout .sidebar {
        left: -300px;
    }
}

.app_layout .sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.app_layout .sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

@media (min-width: 1200px) {
    #main {
        margin-left: 300px;
    }
}

.app_layout .header .toggle-sidebar-btn {
    font-size: 23px;
    margin-left: 10px;
}

@media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
        left: 0;
    }
}

@media (min-width: 1200px) {

    .toggle-sidebar #main {
        margin-left: 0;
    }

    .toggle-sidebar .sidebar {
        left: -300px;
    }
}

.app_layout .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.app_layout .sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.app_layout .sidebar-nav .nav-item {
    margin-bottom: 5px;
}

.app_layout .sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
}

.app_layout .sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--bs-primary);
    transition: 0.3;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
}

.app_layout .sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
    color: var(--bs-primary);
    width: 22px;
}

.app_layout .sidebar-nav .nav-link i.fa-chevron-down {
    width: auto;
}

.app_layout .sidebar-nav .nav-link.collapsed {
    color: var(--custom-dark);
    background: #fff;
}

.app_layout .sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
}

.app_layout .sidebar-nav .nav-link:hover {
    color: var(--bs-primary);
    background: #f6f9ff;
}

.app_layout .sidebar-nav .nav-link:hover i {
    color: var(--bs-primary);
}

.app_layout .sidebar-nav .nav-link .fa-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
}

.app_layout .sidebar-nav .nav-link:not(.collapsed) .fa-chevron-down {
    transform: rotate(180deg);
}

.app_layout .sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}

.app_layout .sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--custom-dark);
    transition: 0.3;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
}

.app_layout .sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
}

.app_layout .sidebar-nav .nav-content a:hover,
.app_layout .sidebar-nav .nav-content a.active {
    color: var(--bs-primary);
}

.app_layout .sidebar-nav .nav-content a.active i {
    background-color: var(--bs-primary);
}

.app_layout .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var(--custom-primary);
    width: 35px;
    height: 35px;
    border-radius: 4px;
    transition: all 0.4s;
}

.app_layout .back-to-top i {
    font-size: 18px;
    color: #fff;
    line-height: 0;
}

.app_layout .back-to-top:hover {
    background: var(--custom-primary-hover);
    color: #fff;
}

.app_layout .back-to-top.active {
    visibility: visible;
    opacity: 1;
}