.selectize-input {
    border: 1px solid #d0d0d0;
    padding: 9px 8px;
    border-radius: 0.375rem;
    border: var(--bs-border-width) solid var(--bs-border-color);
    box-shadow: none;
}

.selectize-input.focus {
    box-shadow: none;
    border-color: var(--custom-primary);
    box-shadow: var(--input-focus);
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.selectize-dropdown .selected {
    background-color: var(--custom-primary);
}

.selectize-control.single .selectize-input {
    box-shadow: none;
    background-color: #fff;
    background-image: none;
}

.selectize-control.multi .selectize-input [data-value] {
    background-color: var(--custom-primary);
    background-image: none;
}

.selectize-control.multi .selectize-input>div {
    background: var(--custom-primary);
    border: 1px solid var(--custom-primary);
}

.selectize-control.plugin-remove_button .item .remove {
    text-decoration: none;
    border-left: none;
    border-radius: 0 2px 2px 0;
    font-size: 23px;
}

.selectize-control.multi .selectize-input>div.active {
    background: var(--custom-primary-hover);
    color: #fff;
    border: 1px solid var(--custom-primary-hover);
}

.selectize-control.multi .selectize-input [data-value].active {
    background-color: var(--custom-primary-hover);
    background-image: none;
}